@use "sass:math";


@function rem($px) {
    $result: math.div($px,16) + rem;
    @return $result;
}

@function em($px1, $px2) {
    $result: math.div($px1,$px2) + em;
    @return $result;
}

@function adaptiveFont($minFont, $maxFont) {
    $result: max($minFont, min($maxFont, 5.333vw));
    @return $result;  
}
// @function lh($lineHeightSize, $fontSize) {
//     $result: math.div($lineHeightSize,$fontSize);
//     @return $result;
// }

