@import "extends.scss";
@import "mixins.scss";
@import "variable.scss";
@import "function.scss";
@import "ui.scss";

body {
  background-color: $mainColor;
  color: $colorBlack;
  font-family: $fontfamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  font-weight: $defaultFontWeight;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: $maxWidth + px;
  width: 100%;
  // padding: 0 15px;
}

.display-none {
  display: none;
}
// Container
.container,
.container_fluid {
  margin: 0 auto;
  @media (max-width: rem($bp1)) {
    max-width: $bp1 + px;
  }
  height: 100%;
  padding: 0 rem(15);
}
.container {
  max-width: rem($containerWidth);
}

.container_fluid {
  max-width: rem($containerWidthFluid);
}
// End container

// Text
.main_title {
  @include adaptiveFont(75, 34, $maxWidth, $bp1);
  font-weight: 800;
  span {
    color: $colorBlue;
  }
}

.title__section {
  @include adaptiveFont(46, 28, $maxWidth, $bp1);
  font-weight: 700;
  @media (max-width: $bp1 + px) {
    font-weight: 800;
  }
}

.main_title span,
.title__section {
  color: $colorBlue;
}

.title__subtitle {
  @include adaptiveFont(28, 18, $maxWidth, $bp1);
  font-weight: 800;
  @media (max-width: rem($bp1)) {
    font-weight: 700;
  }
}

.text__title {
  font-size: rem(18);
  font-weight: 800;
  @media (max-width: rem($bp1)) {
    font-weight: 700;
  }
}

.text {
  @include adaptiveFont(18, 14, $maxWidth, $bp1);
  @media (max-width: rem($bp1)) {
    font-weight: 700;
  }
}

.title,
.title__section,
.title__subtitle {
  text-transform: uppercase;
}

// End Text

.menu {
  @include dFlexRow(center, center);
  .menu__list {
    @include dFlexRow(center, center);
  }
}

.card {
  display: grid;
  gap: 2px;
  .card__item {
  }
  .card__item_big {

  }
  .card__title {
  }
  .card__text {
  }
  .card__btn {
  }
}
