/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*End Width ====================================================*/
body {
  background-color: #fff;
  color: #28282C;
  font-family: "Nunito Sans";
  font-size: 1.125rem;
  line-height: 1.4444444444;
  font-weight: 400;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.container {
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}
@media (max-width: 845px) {
  .container {
    max-width: 845px;
  }
}
.container.__big {
  max-width: 1894px;
}
.container._medium {
  max-width: 1660px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex_evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex_jstart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex_astartjbet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex_astart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex_start_column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex_center_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid_union {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.25rem, 38.625rem));
  justify-content: center;
}

.grid_content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 30px;
  grid-template: auto 1fr minmax(40px, auto)/1fr;
}
@media (max-width: 1920px) {
  .grid_content {
    gap: calc(
        10px + 20 * ((100vw - 360px) / 1560)
      );
  }
}

.title {
  font-weight: 800;
}
@media (max-width: 845px) {
  .title {
    font-size: calc(2.125rem + 69.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 845px) {
  .title {
    font-size: calc(2.125rem + 41 * (100vw / 1920));
  }
}
.title span {
  color: #14276F;
}

.title__section {
  font-weight: 700;
}
@media (max-width: 845px) {
  .title__section {
    font-size: calc(1.75rem + 30.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 845px) {
  .title__section {
    font-size: calc(1.75rem + 18 * (100vw / 1920));
  }
}
@media (max-width: 845px) {
  .title__section {
    font-weight: 800;
  }
}

.title__subtitle {
  font-weight: 800;
}
@media (max-width: 845px) {
  .title__subtitle {
    font-size: calc(1.125rem + 17 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 845px) {
  .title__subtitle {
    font-size: calc(1.125rem + 10 * (100vw / 1920));
  }
}
@media (max-width: 845px) {
  .title__subtitle {
    font-weight: 700;
  }
}

.text__title {
  font-size: 1.125rem;
  font-weight: 800;
}
@media (max-width: 845px) {
  .text__title {
    font-weight: 700;
  }
}

@media (max-width: 845px) {
  .text {
    font-size: calc(0.875rem + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 845px) {
  .text {
    font-size: calc(0.875rem + 4 * (100vw / 1920));
  }
}
@media (max-width: 845px) {
  .text {
    font-weight: 700;
  }
}

.title,
.title__section,
.title__subtitle {
  text-transform: uppercase;
}

.btn_action {
  background-color: #28282C;
  color: #fff;
  font-size: max(0.875rem, min(1.125rem, 3.333vw));
  font-weight: 800;
  margin: 0 0 6.25rem 0;
  padding: 10px 20px;
}

.icons {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.icons a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.icons a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile__logo {
  width: 2.5rem;
  height: 2.5rem;
}

.display-none {
  display: none;
}

.burger {
  position: relative;
  cursor: pointer;
  width: 1.25rem;
  height: 1.375rem;
}
.burger div {
  position: absolute;
  height: 0.125rem;
  width: 1.25rem;
  background-color: #28282C;
  top: 0.6875rem;
  left: 0;
}
.burger div:first-child {
  top: 0;
}
.burger div:last-child {
  top: 1.375rem;
}
.burger div.burger-rotate-positive {
  top: 0.6875rem;
  transform: rotate(45deg);
  transition: transform 0.8s ease 0.5s;
}
.burger div.burger-rotate-negative {
  top: 0.6875rem;
  transform: rotate(-45deg);
  transition: transform 0.8s ease 0.5s;
}/*# sourceMappingURL=global.css.map */