@charset "UTF-8";
.cards__slides__item .item__title::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*
Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
/*End Width ====================================================*/
.cards__slides__item .item__title::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*
Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
/*End Width ====================================================*/
.burger {
  position: relative;
  cursor: pointer;
  width: 1.5625rem;
  height: 1.375rem;
}
.burger div {
  position: absolute;
  height: 0.125rem;
  width: 50%;
  background-color: #28282C;
  top: 0.6875rem;
  left: 0;
}
.burger div:first-child {
  top: 0;
  width: 100%;
}
.burger div:last-child {
  top: 1.375rem;
  width: 70%;
}
.burger div.burger-rotate-positive {
  top: 0.6875rem;
  transform: rotate(45deg);
  transition: transform 0.8s ease 0.5s;
  width: 100%;
}
.burger div.burger-rotate-negative {
  top: 0.6875rem;
  transform: rotate(-45deg);
  transition: transform 0.8s ease 0.5s;
  width: 100%;
}
@media (min-width: 55rem) {
  .burger {
    display: none;
  }
}

.icons__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}
.icons__list .icons__item {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.icons__list .icons__item .icons__link {
  max-width: 100%;
  height: 100%;
  display: inline-block;
}
.icons__list .icons__item .icons__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons__item,
.mobile__logo {
  width: 2.5rem;
  height: 2.5rem;
}

.mobile__logo {
  display: none;
}
@media (max-width: 55rem) {
  .mobile__logo {
    display: block;
  }
}

.logo {
  font-size: 0.8em;
}
.logo .icon-media_big {
  color: #8B939A;
}

.action {
  background-color: #fff;
  color: #fff;
  text-align: center;
}

.btn_action {
  display: inline-block;
  background-color: #28282C;
  cursor: pointer;
  font-weight: 800;
  padding: 0.625rem 1.25rem;
}

.more {
  color: #8B939A;
}

.btn_more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  cursor: pointer;
}
.btn_more:hover {
  font-weight: 800;
}

body {
  background-color: #fff;
  color: #28282C;
  font-family: "Nunito Sans";
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: 400;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  overflow-x: hidden;
}

.display-none {
  display: none;
}

.container,
.container_fluid,
.container_block {
  margin: 0 auto;
  height: 100%;
  padding: 0 0.9375rem;
}
@media (max-width: 55rem) {
  .container,
  .container_fluid,
  .container_block {
    max-width: 880px;
  }
}

.container {
  max-width: 103.75rem;
}

.container_fluid {
  max-width: 118.125rem;
}

.container_block {
  max-width: 76.25rem;
}

.text__default {
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: 400;
}

.main__title {
  font-weight: 800;
}
@media (max-width: 880px) {
  .main__title {
    font-size: calc(2.125rem + 69.7 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .main__title {
    font-size: calc(2.125rem + 41 * (100vw / 1920));
  }
}

.section__title {
  font-weight: 700;
}
@media (max-width: 880px) {
  .section__title {
    font-size: calc(1.75rem + 30.6 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .section__title {
    font-size: calc(1.75rem + 18 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .section__title {
    font-weight: 800;
  }
}

.section__title_bold {
  font-size: 2.875rem;
  font-weight: 800;
}

.section__subtitle {
  font-weight: 800;
}
@media (max-width: 880px) {
  .section__subtitle {
    font-size: calc(1.125rem + 47.6 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .section__subtitle {
    font-size: calc(1.125rem + 28 * (100vw / 1920));
  }
}

.card__title {
  font-weight: 700;
}
@media (max-width: 880px) {
  .card__title {
    font-size: calc(1.125rem + 17 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .card__title {
    font-size: calc(1.125rem + 10 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .card__title {
    font-weight: 800;
  }
}

.card__title_bold {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card__text {
  font-weight: 600;
}
@media (max-width: 880px) {
  .card__text {
    font-size: calc(0.875rem + 23.8 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .card__text {
    font-size: calc(0.875rem + 14 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .card__text {
    font-weight: 700;
  }
}

.content__text {
  font-weight: 600;
}
@media (max-width: 880px) {
  .content__text {
    font-size: calc(1.125rem + 17 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .content__text {
    font-size: calc(1.125rem + 10 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .content__text {
    font-weight: 400;
  }
}

.title__subtitle {
  font-weight: 800;
  margin: 0 0 0.625rem 0;
  padding: 0.625rem 1.875rem;
}
@media (max-width: 880px) {
  .title__subtitle {
    font-size: calc(1.125rem + 17 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .title__subtitle {
    font-size: calc(1.125rem + 10 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .title__subtitle {
    font-weight: 700;
  }
}

.text__bold {
  font-size: 1.125rem;
  font-weight: 800;
}
@media (max-width: 55rem) {
  .text__bold {
    font-weight: 700;
  }
}

.text__link {
  font-weight: 800;
}
@media (max-width: 880px) {
  .text__link {
    font-size: calc(0.875rem + 6.8 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .text__link {
    font-size: calc(0.875rem + 4 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .text__link {
    font-weight: 700;
  }
}

.main__title,
.section__title,
.section__subtitle,
.title__subtitle,
.title__link {
  text-transform: uppercase;
  text-align: center;
}

.c_cyan {
  color: #179ED8;
}

.c_green {
  color: #28A255;
}

.c_orange {
  color: #F09F44;
}

.c_purpule {
  color: #773484;
}

.c_red {
  color: #CB2026;
}

.c_grey {
  color: #8B939A;
}

.c_dgrey {
  color: #505356;
}

.menu,
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__list,
.content__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sub__menu__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.875rem, 1fr));
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
}

.cards__slides {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
}
@media (min-width: 90rem) {
  .cards__slides {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards__slides__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto)/1fr;
  row-gap: 1.25rem;
  justify-items: start;
  position: relative;
}
@media (min-width: 55rem) {
  .cards__slides__item.item_big {
    grid-column: span 2;
  }
}
.cards__slides__item .item__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.cards__slides__item .item__title {
  color: #faf7f5;
}
.cards__slides__item .item__title::after {
  width: 50%;
  height: 2px;
  background: #faf7f5;
}
.cards__slides__item .item__btn {
  justify-self: start;
}

.cards__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: max-content 1fr auto/1fr;
  justify-items: start;
  row-gap: calc(
      10px + 20 * ((100vw - 380px) / 1560)
    );
}
.cards__item .cards__content {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto)/1fr;
  justify-items: start;
  padding-top: calc(
      20px + 20 * ((100vw - 380px) / 1560)
    );
  padding-left: calc(
      20px + 65 * ((100vw - 380px) / 1560)
    );
  padding-right: calc(
      20px + 65 * ((100vw - 380px) / 1560)
    );
  padding-bottom: calc(
      20px + 20 * ((100vw - 380px) / 1560)
    );
}

.cards__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-self: center;
}

.action {
  margin-bottom: calc(
      50px + 40 * ((100vw - 380px) / 1560)
    );
}

.button-prev,
.button-next {
  display: none;
}
@media (min-width: 43.75rem) {
  .button-prev,
  .button-next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .button-prev.swiper-button-disabled,
  .button-next.swiper-button-disabled {
    display: none;
  }
}

.button-prev {
  left: 0;
  transform: rotate(180deg) translateY(50%);
}

.button-next {
  right: 0;
  transform: translateY(-50%);
}

.pagination {
  margin: auto;
  text-align: center;
}
.pagination .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.625rem !important;
  background-color: transparent;
  border: 1px #505356 solid;
}
.pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #505356;
}/*# sourceMappingURL=global.css.map */