@font-face {
  font-family: 'icon';
  src:
    url('../fonts/icon.ttf?wkfc0a') format('truetype'),
    url('../fonts/icon.woff?wkfc0a') format('woff'),
    url('../fonts/icon.svg?wkfc0a#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile-phone:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
