@mixin dflex($juscon, $alitems) {
    display: flex;
    justify-content: $juscon;
    align-items: $alitems;
    flex-wrap: wrap;
}

@mixin dgrid($columncount, $columnsize) {
    display: grid;
    grid-template-columns: repeat($columncount, $columnsize);
}

@mixin before-after-line ($width, $height, $background) {
  @extend %before-after-line;
  width: $width;
  height: $height;
  background: $background; 
}