.projects__smm__content .card__title::after, .projects__about .projects__about__cards.cards .cards__title::after, .projects__slides_max .cards__title::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*End Width ====================================================*/
.projects__slides__preview_container,
.projects__slides_container {
  position: relative;
}

.projects__slides__preview {
  color: #fff;
}
.projects__slides__preview .cards__item {
  height: 7.5rem;
  position: relative;
  opacity: 0.2;
  transition: opacity 0.3s ease 0s;
  padding: 0;
}
.projects__slides__preview .cards__item .cards__image {
  -o-object-position: top;
     object-position: top;
  position: absolute;
  z-index: -1;
}
.projects__slides__preview .cards__item .cards__content {
  padding-top: 0.625rem;
  padding-left: calc(
      15px + 25 * ((100vw - 380px) / 1560)
    );
}
.projects__slides__preview .cards__item.swiper-slide-thumb-active {
  opacity: 1;
}

.projects__slides_max {
  color: #fff;
}
.projects__slides_max .cards__item {
  height: auto;
  position: relative;
  padding-top: 1.25rem;
  padding-left: calc(
      40px + 185 * ((100vw - 380px) / 1560)
    );
  padding-bottom: calc(
      50px + 100 * ((100vw - 380px) / 1560)
    );
}
.projects__slides_max .cards__image {
  -o-object-position: top;
     object-position: top;
  position: absolute;
  z-index: -1;
}
.projects__slides_max .cards__content {
  gap: 1.25rem;
}
.projects__slides_max .cards__data {
  color: #fff;
}
.projects__slides_max .cards__title::after {
  width: 50%;
  height: 2px;
  background: #fff;
}

.projects__slides_button-prev,
.projects__slides_button-next {
  background-color: #fff;
}

.projects__slides_button-prev {
  left: 1.25rem;
}

.projects__slides_button-next {
  right: 1.25rem;
}

.projects__slides_pagination {
  display: none;
}
@media (max-width: 43.75rem) {
  .projects__slides_pagination {
    display: block;
  }
}

.projects__about .projects__about__cards.cards .cards__item {
  padding-top: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0;
}
.projects__about .projects__about__cards.cards .cards__title {
  display: inline-block;
}
.projects__about .projects__about__cards.cards .cards__title::after {
  width: 50%;
  height: 2px;
  background: #28282C;
}
.projects__about .projects__about__cards.cards .cards__text ul li {
  list-style: initial;
}

.projects__presentation {
  margin: 0 0 6.25rem 0;
}

.projects__presentation__cards:nth-child(1) {
  background-color: #28282C;
  color: #fff;
}
.projects__presentation__cards .cards__item {
  grid-template: auto 1fr/1fr;
  padding: 0 2.5rem;
  padding-top: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  min-height: calc(
      245px + 355 * ((100vw - 380px) / 1560)
    );
  position: relative;
}
.projects__presentation__cards .cards__item img {
  position: absolute;
}
.projects__presentation__cards .cards__item .cards__content {
  padding: 0;
}
.projects__presentation__cards .card__title {
  font-size: 1.75rem;
  font-weight: 700;
}

.projects__smm__content {
  -moz-column-gap: calc(
      20px + 40 * ((100vw - 380px) / 1560)
    );
       column-gap: calc(
      20px + 40 * ((100vw - 380px) / 1560)
    );
  row-gap: 3.125rem;
}
.projects__smm__content .content__item {
  flex: 1 1 auto;
  padding: 0;
}
.projects__smm__content .content__item .content__text {
  font-size: 1.75rem;
  padding: 0;
}
.projects__smm__content .card__title {
  font-weight: 700;
  text-transform: uppercase;
}
.projects__smm__content .card__title::after {
  width: 50%;
  height: 2px;
  background: #28282C;
}
.projects__smm__content .card__text {
  font-weight: 600;
}/*# sourceMappingURL=projects.css.map */