@charset "UTF-8";
.products .cards__item .text__title::after, .indicators .cards__item .item__title::after, .services__description__solutions.cards .cards__item .item__title::after, .services__description__categories .categories__title::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*
Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
/*End Width ====================================================*/
.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  flex-wrap: nowrap;
}

.services__about {
  background-color: #E3E3E3;
  color: #505356;
}
.services__about .services__submenu {
  margin-bottom: calc(
      60px + 40 * ((100vw - 380px) / 1560)
    );
  padding: 1.875rem 0 0 0;
}
.services__about .menu__list {
  -moz-column-gap: calc(
      20px + 40 * ((100vw - 380px) / 1560)
    );
       column-gap: calc(
      20px + 40 * ((100vw - 380px) / 1560)
    );
  row-gap: 1.875rem;
}
.services__about .menu__list .menu__item {
  transition: transform 0.3s ease-in-out 0s;
}
.services__about .menu__list .menu__item:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out 0s;
}
.services__about .main__title {
  line-height: 1;
  text-align: start;
}
.services__about .about .text .text__content:not(:last-child) {
  padding: 0 0 1.25rem 0;
}
.services__about .about .text .text__title {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.services__about .about .text .text__list {
  margin: 0 0 0 1.25rem;
}
.services__about .about .text .text__list .list__item {
  list-style: disc;
}

.services__about__content {
  row-gap: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  padding-bottom: calc(
      30px + 20 * ((100vw - 380px) / 1560)
    );
}
.services__about__content .content__subtitle,
.services__about__content .content__text {
  color: #505356;
}
.services__about__content .content__text p {
  margin-bottom: 1.25rem;
}

.services__description__content {
  flex-direction: column;
  row-gap: calc(
      50px + 50 * ((100vw - 380px) / 1560)
    );
}
.services__description__content.content .content__item {
  justify-content: center;
  row-gap: calc(
      20px + 20 * ((100vw - 380px) / 1560)
    );
}
.services__description__content ul li {
  border: 2px #14276F solid;
}

.services__description__objective,
.services__description__progress {
  width: 100%;
}

.services__description__categories {
  margin-bottom: calc(
      50px + 50 * ((100vw - 380px) / 1560)
    );
}
.services__description__categories .content__item.item {
  flex-direction: column;
  align-items: flex-start;
}
.services__description__categories .categories__title::after {
  width: 5rem;
  height: 2px;
  background: #28282C;
  margin: 1.25rem 0 0 0;
}
.services__description__categories .content__list {
  justify-self: flex-start;
  gap: 0.625rem 1.25rem;
}
.services__description__categories .content__list li {
  border: none;
}

.services__description__progress {
  margin: 0 0 3.125rem 0;
}
.services__description__progress.cards {
  grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
  gap: 0.625rem 1.25rem;
}
.services__description__progress.cards .cards__item {
  border: 2px #14276F solid;
  grid-template: 1fr/1fr;
  padding-top: calc(
      2px + 28 * ((100vw - 380px) / 1560)
    );
  padding-left: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  padding-right: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  padding-bottom: calc(
      2px + 28 * ((100vw - 380px) / 1560)
    );
}
.services__description__progress.cards .text__link {
  color: #14276F;
  font-size: 1.75rem;
  font-weight: 600;
}
.services__description__progress.cards .text__link span {
  font-size: 2.875rem;
  font-weight: 800;
}

.services__description__solutions.cards {
  background-color: #E3E3E3;
  justify-content: center;
  gap: 1.875rem 1.25rem;
}
.services__description__solutions.cards .cards__item {
  padding: calc(
      0px + 30 * ((100vw - 380px) / 1560)
    );
}
.services__description__solutions.cards .cards__item .item__title {
  font-size: 1.75rem;
  font-weight: 600;
}
.services__description__solutions.cards .cards__item .item__title::after {
  width: 5rem;
  height: 2px;
  background: #28282C;
  margin: 0.625rem 0 0 0;
}
.services__description__solutions.cards .cards__item .item__text__text {
  font-weight: 800;
}

.services__description__partners .indicators__cards__container {
  background-color: #E3E3E3;
  padding: calc(
      0px + 30 * ((100vw - 380px) / 1560)
    );
}
.services__description__partners .indicators__title {
  margin: 0 0 1.875rem 0;
}
.services__description__partners .indicators__cards.cards {
  grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
  width: 100%;
}
.services__description__partners .cards__item {
  padding: 0.625rem;
}
.services__description__partners .item__text .text__title {
  text-align: start;
}
.services__description__partners .item__text .text__list {
  margin: 0 0 0 0.625rem;
}
.services__description__partners .item__text .list__item {
  border: none;
  list-style: disc;
  margin: 0 0 0 0.625rem;
}

/*==========================================*/
.objective .objective__item .item__list {
  gap: 0.625rem;
}
.objective .objective__item .item__list .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #14276F;
  grid-template: 1fr/1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 0.9375rem 1.25rem;
  min-height: 9.375rem;
  width: 100%;
}
@media (min-width: 30rem) {
  .objective .objective__item .item__list .list__item {
    max-width: 12.5rem;
  }
}

.indicators {
  width: 100%;
}
.indicators .indicators__title {
  text-align: center;
}
.indicators .indicators__title .title__text {
  font-size: 1.75rem;
  font-weight: 700;
}
.indicators .cards {
  gap: 3.125rem 3.125rem;
}
.indicators .cards__item {
  gap: 0.625rem;
}
.indicators .cards__item .item__title::after {
  width: 5rem;
  height: 2px;
  background: #28282C;
  margin: 0.625rem 0 0 0;
}
.indicators .cards__item .text__text {
  text-align: start;
}

.services__description__indicators .indicators__title {
  margin-bottom: calc(
      50px + 50 * ((100vw - 380px) / 1560)
    );
}

.services__description__activites .item__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;
  text-transform: uppercase;
}
.services__description__activites .places .item__text {
  flex-direction: column;
}
.services__description__activites .places .icons__item {
  background-color: #505356;
  border: none;
}
.services__description__activites .places .icons__item:hover {
  background-color: #E3E3E3;
  transition: all 0.3s ease 0s;
}
.services__description__activites .places .icons__item:hover .icons__link {
  color: #14276F;
  transition: all 0.3s ease 0s;
}
.services__description__activites .places .icons__link {
  color: #fff;
}

/*==========================================*/
.products {
  width: 100%;
}
.products .cards {
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  gap: 3.125rem 1.875rem;
  justify-items: center;
}
.products .products__title {
  margin: 0 0 3.125rem 0;
}
.products .cards__item {
  grid-template: minmax(5rem, max-content) auto 1fr auto/1fr;
  row-gap: 1.25rem;
  border: none;
  max-width: 16.875rem;
}
.products .cards__item .item__image {
  width: 100%;
  max-height: 23.4375rem;
}
.products .cards__item .item__title {
  font-size: 1.75rem;
  font-weight: 700;
}
.products .cards__item .text__title {
  font-weight: 800;
}
.products .cards__item .text__title::after {
  width: 5rem;
  height: 2px;
  background: #28282C;
  margin: 0.625rem 0 0 0;
}

.solutions {
  background-color: #E3E3E3;
  padding: 1.875rem;
}
.solutions.content {
  flex-direction: column;
  align-items: center;
}
.solutions .solutions__cards {
  background-color: #28282C;
  gap: 1px 1px;
}
.solutions .solutions__title {
  margin: 0 0 1.25rem 0;
}
.solutions .content__item {
  flex: auto;
  background-color: #E3E3E3;
  padding: 1.25rem 3.125rem;
}
@media (max-width: 30rem) {
  .solutions .content__item {
    padding: 1.25rem 0.3125rem;
  }
}
.solutions .content__item .item__text {
  text-transform: uppercase;
}

.services__cards {
  color: #fff;
}
.services__cards .cards__slides__item {
  padding-top: calc(
      20px + 20 * ((100vw - 380px) / 1560)
    );
  padding-left: calc(
      20px + 65 * ((100vw - 380px) / 1560)
    );
  padding-right: calc(
      20px + 65 * ((100vw - 380px) / 1560)
    );
  padding-bottom: calc(
      20px + 20 * ((100vw - 380px) / 1560)
    );
}
.services__cards .cards__slides__item:hover .item__image {
  opacity: 1;
}
.services__cards .cards__slides__item .item__image {
  opacity: 0.5;
}

.portfolio {
  padding: calc(
      0px + 100 * ((100vw - 380px) / 1560)
    );
  padding-top: 0;
}
.portfolio .portfolio__content {
  gap: 1.25rem;
}
.portfolio .content__item img {
  max-width: calc(
      70px + 100 * ((100vw - 380px) / 1560)
    );
}/*# sourceMappingURL=services.css.map */