@import "null.css";
.header__menu .menu__item.active::after,
.header__menu .submenu__item.active::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*End Width ====================================================*/
.header__menu .menu__item.active::after,
.header__menu .submenu__item.active::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*End Width ====================================================*/
.header__menu .menu__item.active::after,
.header__menu .submenu__item.active::after {
  content: "";
  display: block;
}

/*Fonts ====================================================*/
/*End Fonts ====================================================*/
/*Colors ====================================================*/
/*End Colors ====================================================*/
/*Width ====================================================*/
/*Break points*/
/*End Width ====================================================*/
.burger {
  position: relative;
  cursor: pointer;
  width: 1.5625rem;
  height: 1.375rem;
}
.burger div {
  position: absolute;
  height: 0.125rem;
  width: 50%;
  background-color: #28282C;
  top: 0.6875rem;
  left: 0;
}
.burger div:first-child {
  top: 0;
  width: 100%;
}
.burger div:last-child {
  top: 1.375rem;
  width: 70%;
}
.burger div.burger-rotate-positive {
  top: 0.6875rem;
  transform: rotate(45deg);
  transition: transform 0.8s ease 0.5s;
  width: 100%;
}
.burger div.burger-rotate-negative {
  top: 0.6875rem;
  transform: rotate(-45deg);
  transition: transform 0.8s ease 0.5s;
  width: 100%;
}
@media (min-width: 55rem) {
  .burger {
    display: none;
  }
}

.icons__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}
.icons__list .icons__item {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.icons__list .icons__item .icons__link {
  max-width: 100%;
  height: 100%;
  display: inline-block;
}
.icons__list .icons__item .icons__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons__item,
.mobile__logo {
  width: 2.5rem;
  height: 2.5rem;
}

.mobile__logo {
  display: none;
}
@media (max-width: 55rem) {
  .mobile__logo {
    display: block;
  }
}

.logo {
  font-size: 1.375rem;
}
.logo .icon-media_big {
  color: #8B939A;
}

.btn_action {
  background-color: #28282C;
  color: #fff;
  font-weight: 800;
  padding: 0.625rem 1.25rem;
}
@media (max-width: 380px) {
  .btn_action {
    font-size: calc(0.875rem + 6.8 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 380px) {
  .btn_action {
    font-size: calc(0.875rem + 4 * (100vw / 1920));
  }
}

.btn_more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
}
@media (max-width: 380px) {
  .btn_more {
    font-size: calc(0.875rem + 6.8 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 380px) {
  .btn_more {
    font-size: calc(0.875rem + 4 * (100vw / 1920));
  }
}
.btn_more:hover {
  font-weight: 800;
}

body {
  background-color: #fff;
  color: #28282C;
  font-family: "Nunito Sans";
  font-size: 1.125rem;
  line-height: 1.4444444444;
  font-weight: 400;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  overflow-x: hidden;
}

.display-none {
  display: none;
}

.container,
.container_fluid {
  margin: 0 auto;
  height: 100%;
  padding: 0 0.9375rem;
}
@media (max-width: 55rem) {
  .container,
.container_fluid {
    max-width: 880px;
  }
}

.container {
  max-width: 103.75rem;
}

.container_fluid {
  max-width: 118.125rem;
}

.main_title {
  font-weight: 800;
}
@media (max-width: 880px) {
  .main_title {
    font-size: calc(2.125rem + 69.7 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .main_title {
    font-size: calc(2.125rem + 41 * (100vw / 1920));
  }
}
.main_title span {
  color: #14276F;
}

.title__section {
  font-weight: 700;
}
@media (max-width: 880px) {
  .title__section {
    font-size: calc(1.75rem + 30.6 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .title__section {
    font-size: calc(1.75rem + 18 * (100vw / 1920));
  }
}
@media (max-width: 880px) {
  .title__section {
    font-weight: 800;
  }
}

.main_title span,
.title__section {
  color: #14276F;
}

.title__subtitle {
  font-weight: 800;
  margin: 0 0 0.625rem 0;
  padding: 0.625rem 1.875rem;
}
@media (max-width: 880px) {
  .title__subtitle {
    font-size: calc(1.125rem + 17 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .title__subtitle {
    font-size: calc(1.125rem + 10 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .title__subtitle {
    font-weight: 700;
  }
}

.text__title {
  font-size: 1.125rem;
  font-weight: 800;
}
@media (max-width: 55rem) {
  .text__title {
    font-weight: 700;
  }
}

@media (max-width: 880px) {
  .text {
    font-size: calc(0.875rem + 6.8 * ((100vw - 380px) / 1920));
  }
}
@media (min-width: 880px) {
  .text {
    font-size: calc(0.875rem + 4 * (100vw / 1920));
  }
}
@media (max-width: 55rem) {
  .text {
    font-weight: 700;
  }
}

.title,
.title__section,
.title__subtitle {
  text-transform: uppercase;
  text-align: center;
}

.c_cyan {
  color: #179ED8;
}

.c_green {
  color: #28A255;
}

.c_orange {
  color: #F09F44;
}

.c_purpule {
  color: #773484;
}

.c_red {
  color: #CB2026;
}

.c_grey {
  color: #8B939A;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu .menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: grid;
  gap: 2px;
}
.card .card__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto)/1fr;
  row-gap: calc(
      10px + 20 * ((100vw - 380px) / 1560)
    );
  background-color: #E3E3E3;
  padding-top: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  padding-left: calc(
      30px + 105 * ((100vw - 380px) / 1560)
    );
  padding-bottom: calc(
      20px + 30 * ((100vw - 380px) / 1560)
    );
  padding-right: calc(
      30px + 105 * ((100vw - 380px) / 1560)
    );
}
.card .card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-self: center;
}

.action {
  margin-bottom: calc(
      50px + 40 * ((100vw - 380px) / 1560)
    );
}

.path-name {
  fill: black;
}

.header {
  background-color: rgba(250, 247, 245, 0.91);
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  max-width: inherit;
  min-height: 70px;
}

.header__logo {
  display: none;
  gap: 40px;
  width: 180px;
}
@media (max-width: 1630px) {
  .header__logo {
    gap: calc(
        5px + 35 * ((100vw - 380px) / 1270)
      );
  }
}
@media (max-width: 1630px) {
  .header__logo {
    width: calc(
        50px + 130 * ((100vw - 380px) / 1270)
      );
  }
}
@media (min-width: 55.0625rem) and (max-width: 75rem) {
  .header__logo {
    display: block;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-height: 70px;
}

@media (max-width: 55rem) {
  .header__menu {
    opacity: 0;
    position: absolute;
    z-index: 11;
    background: linear-gradient(168.68deg, rgba(250, 247, 244, 0.55) 3.67%, #faf7f5 95.19%);
    -webkit-backdrop-filter: blur(5.15455px);
            backdrop-filter: blur(5.15455px);
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-200%);
    transition: transform 0.5s ease-in-out 0s;
  }
  .header__menu.open {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.8s ease-in-out 0s;
  }
}
.header__menu .menu__list {
  font-weight: 400;
  gap: 40px;
}
@media (max-width: 1630px) {
  .header__menu .menu__list {
    gap: calc(
        5px + 35 * ((100vw - 380px) / 1270)
      );
  }
}
@media (max-width: 55rem) {
  .header__menu .menu__list {
    flex-direction: column;
    width: 13.75rem;
    padding: 1.875rem 0;
    overflow-y: scroll;
  }
}
.header__menu .menu__submenu {
  display: flex;
  gap: calc(5px + 35 * (100vw - 360px) / 1270);
  flex-direction: column;
  width: 100%;
}
@media (min-width: 55rem) and (max-width: 75rem) {
  .header__menu .menu__submenu {
    display: none;
  }
}
@media (min-width: 75rem) {
  .header__menu .menu__submenu {
    flex-direction: row;
    width: inherit;
  }
}
.header__menu .menu__item,
.header__menu .submenu__item {
  transition: font-weight 0.3s ease 0s;
}
.header__menu .menu__item:hover,
.header__menu .submenu__item:hover {
  font-weight: 800;
}
@media (max-width: 55rem) {
  .header__menu .menu__item:hover,
.header__menu .submenu__item:hover {
    background-color: #28282C;
  }
}
.header__menu .menu__item.active::after,
.header__menu .submenu__item.active::after {
  width: 0;
  height: 2px;
  background: #14276F;
}
@media (min-width: 55rem) {
  .header__menu .menu__item.active::after,
.header__menu .submenu__item.active::after {
    width: 50%;
  }
}
@media (max-width: 55rem) {
  .header__menu .menu__item,
.header__menu .submenu__item {
    background-color: #8B939A;
    color: #faf7f5;
    gap: 20px;
    max-width: 13.75rem;
    width: 100%;
    text-align: center;
    padding: 7px 0;
  }
}
.header__menu .submenu {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 6;
}
@media (min-width: 55rem) and (max-width: 75rem) {
  .header__menu .submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    background-color: #faf7f5;
  }
}
.header__menu .submenu:hover .submenu__icon {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out 0s;
}
.header__menu .submenu:hover .submenu__icon ~ .submenu__list {
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s, 0s;
}
.header__menu .submenu__list {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  gap: 0.625rem;
  position: absolute;
  z-index: 5;
  background-color: #faf7f5;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.header__menu .menu__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header__menu-services {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  background: linear-gradient(168.68deg, rgba(250, 247, 244, 0.55) 3.67%, #faf7f5 95.19%);
  -webkit-backdrop-filter: blur(5.15455px);
          backdrop-filter: blur(5.15455px);
  position: absolute;
  top: 100%;
  left: 0;
  min-height: 4.375rem;
  width: 100%;
}
.header__menu-services.active {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out 0s, visibility 0s linear;
}
.header__menu-services .menu__list {
  gap: 100px;
}
@media (max-width: 1920px) {
  .header__menu-services .menu__list {
    gap: calc(
        20px + 80 * ((100vw - 380px) / 1560)
      );
  }
}
.header__menu-services .menu__item:hover .text__title {
  color: inherit;
}
.header__menu-services .logo {
  font-size: 0.9375rem;
}
.header__menu-services .text__title {
  color: #8B939A;
}

.burger_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.search {
  position: relative;
  gap: 20px;
}
.search input {
  border: 1px solid #28282C;
  opacity: 0;
  height: 2em;
  position: absolute;
  width: 250px;
  top: 150%;
  left: 0;
  margin: 0 0 0 10px;
  padding: 20px 10px;
  transform: translate(-50%, 100%);
}
.search input.active {
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: all 0.5s ease 0s;
}
@media (max-width: 55rem) {
  .search input.active {
    transform: translate(0%, 0%);
  }
}

.header__mini_logo .icon-uk {
  color: #14276F;
}

.search-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 20px;
}
@media (max-width: 55rem) {
  .search-lang {
    flex: 1 1 auto;
  }
}
.search-lang .search {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 40px 0 0;
}
@media (max-width: 55rem) {
  .search-lang .search {
    margin: 0 auto;
  }
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30px;
  border: 1px solid #28282C;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 50px;
}

.lang__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.lang__list .lang__item {
  padding: 0.3125rem;
}
@media (max-width: 55rem) {
  .lang__list .lang__item {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
.lang__list .lang__item .active {
  border-radius: 50px;
  color: #faf7f5;
  background-color: #28282C;
  font-weight: 800;
  padding: 1px 11px;
  transition: background-color 1.5s linear;
}

.main {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.home {
  background-color: #faf7f5;
  position: relative;
  padding: 0 0 0.625rem 0;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(
      50px + 50 * ((100vw - 380px) / 1560)
    );
  position: relative;
}

.home__content {
  display: grid;
  justify-items: center;
  gap: 70px;
}
@media (min-width: 75rem) {
  .home__content {
    grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
  }
}
@media (max-width: 1920px) {
  .home__content {
    gap: calc(
        30px + 40 * ((100vw - 380px) / 1560)
      );
  }
}
.home__content .logo_big {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 75rem) {
  .home__content .logo_big {
    display: none;
  }
}
.home__content .content__title {
  font-weight: 800;
  flex-direction: column;
}
.home__content .content__about {
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  gap: 2.5rem;
  padding-left: 200px;
  padding-right: 20px;
  padding-top: 200px;
}
@media (max-width: 1920px) {
  .home__content .content__about {
    padding-left: calc(
        0px + 200 * ((100vw - 380px) / 1560)
      );
  }
}
@media (max-width: 1920px) {
  .home__content .content__about {
    padding-right: calc(
        0px + 20 * ((100vw - 380px) / 1560)
      );
  }
}
@media (max-width: 1920px) {
  .home__content .content__about {
    padding-top: calc(
        0px + 200 * ((100vw - 380px) / 1560)
      );
  }
}
@media (max-width: 55rem) {
  .home__content .content__about {
    position: relative;
  }
}
.home__content .content__description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  gap: 1rem;
}
.home__content .icons {
  position: absolute;
  gap: 1.25rem;
  left: 0;
}
@media (max-width: 55rem) {
  .home__content .icons {
    bottom: 0;
    right: 0;
    left: auto;
  }
}
.home__content .icons .icons-item {
  background-color: #14276F;
  color: #fff;
}
@media (min-width: 55rem) {
  .home__content .icons .icons__list {
    flex-direction: column;
  }
}
.home__content .icons .icons__list .icons__item {
  background-color: #14276F;
  color: #fff;
}
.home__content .description__number {
  height: 100%;
  margin-right: 16px;
}
.home__content .description__number img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.home__content .content_btn {
  justify-self: start;
  align-self: end;
}
.home__content .content__image {
  min-width: 200px;
}

.services__container {
  background-color: #E3E3E3;
  margin-bottom: calc(
      20px + 10 * ((100vw - 380px) / 1560)
    );
}

.services__content {
  background-color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
@media (min-width: 90rem) {
  .services__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.services__footer {
  background-color: #fff;
  width: 100vw;
  text-align: center;
}

.footer {
  background-color: #28282C;
  color: #fff;
  width: 100%;
  min-height: 4.375rem;
  margin: 0 auto;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-right: 245px;
  padding-bottom: 40px;
  padding-left: 245px;
  gap: 1.875rem;
}
@media (max-width: 1920px) {
  .footer__inner {
    padding-top: calc(
        20px + 20 * ((100vw - 380px) / 1560)
      );
  }
}
@media (max-width: 1920px) {
  .footer__inner {
    padding-right: calc(
        20px + 225 * ((100vw - 380px) / 1560)
      );
  }
}
@media (max-width: 1920px) {
  .footer__inner {
    padding-bottom: calc(
        20px + 20 * ((100vw - 380px) / 1560)
      );
  }
}
@media (max-width: 1920px) {
  .footer__inner {
    padding-left: calc(
        20px + 225 * ((100vw - 380px) / 1560)
      );
  }
}
.footer__menu {
  width: 100%;
}

@media (max-width: 55rem) {
  .footer__logo {
    display: none;
  }
}
.footer__logo .icon-burda_big {
  color: #8B939A;
}

.footer__contacts {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: auto;
}
.footer__icons .icons__item {
  background-color: #8B939A;
}
.footer__icons .icons__item:hover {
  background-color: #14276F;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: auto;
}
.footer__nav .menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
@media (max-width: 43.75rem) {
  .footer__nav .menu__list {
    display: none;
  }
}
.footer__nav .menu__item {
  padding: 0.6875rem 1.75rem;
}
.footer__nav .menu__item:not(:last-child) {
  border-right: 2px solid #8B939A;
}
.footer__nav .menu__item:hover {
  background-color: #8B939A;
}

.footer__contacts-dep {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: auto;
}
.footer__contacts-dep .dep__phone a {
  display: block;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #8B939A;
}

.footer__copyright-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dep__text,
.org__text,
.footer__copyrigth {
  color: #8B939A;
}

.footer__nav,
.footer__contacts,
.footer__social-list,
.footer__contacts-dep,
.footer__copyright-text {
  gap: 30px;
}
@media (max-width: 1920px) {
  .footer__nav,
.footer__contacts,
.footer__social-list,
.footer__contacts-dep,
.footer__copyright-text {
    gap: calc(
        15px + 15 * ((100vw - 380px) / 1560)
      );
  }
}/*# sourceMappingURL=style.css.map */