@import "extends.scss";
@import "mixins.scss";
@import "variable.scss";
@import "function.scss";

// Burger
.burger {
  position: relative;
  cursor: pointer;
  width: rem(25);
  height: rem(22);
  div {
    position: absolute;
    height: rem(2);
    width: 50%;
    background-color: $colorBlack;
    top: rem(11);
    left: 0;

    &:first-child {
      top: 0;
      width: 100%;
    }

    &:last-child {
      top: rem(22);
      width: 70%;
    }
    &.burger-rotate-positive {
      top: rem(11);
      transform: rotate(45deg);
      transition: transform 0.8s ease 0.5s;
      width: 100%;
    }
    &.burger-rotate-negative {
      top: rem(11);
      transform: rotate(-45deg);
      transition: transform 0.8s ease 0.5s;
      width: 100%;
    }
  }
  @media (min-width: rem($bp1)) {
    display: none;
  }
}
// End Burger

// Icons
.icons__list {
  @include dFlexRow(flex-start, center);
  gap: rem(30);
  .icons__item {
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    .icons__link {
      max-width: 100%;
      height: 100%;
      display: inline-block;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.icons__item,
.mobile__logo {
  width: rem(40);
  height: rem(40);
}

.mobile__logo {
  display: none;
  @media (max-width: rem($bp1)) {
    display: block;
  }
}

.logo {
  font-size: rem(22);
  .icon-media_big {
    color: $colorGrey;
  }
}
// End icons

// Buttons
.action {
  background-color: $mainColor;
  width: 100vw;
  text-align: center;
}

.btn_action {
  background-color: $colorBlack;
  color: $mainColor;
  @include adaptiveFont(18, 14, $maxWidth, $minWidth);
  font-weight: 800;
  padding: rem(10) rem(20);

}

.btn_more {
  @include dFlexRow(center, center);
  @include adaptiveFont(18, 14, $maxWidth, $minWidth);
  background-color: transparent;
  &:hover {
    font-weight: 800;
  }
}
// End buttons