@import "function.scss";

/*Fonts ====================================================*/
$fontfamily: "Nunito Sans";
$defaultFontSize: rem(18);
$defaultLineHeight: calc(26 / 18);
$defaultFontWeight: 400;
/*End Fonts ====================================================*/

/*Colors ====================================================*/
$mainColor: #fff;
$colorHome: #faf7f5;
$colorBlack: #28282C;
$colorLightGrey: #E3E3E3;
$colorGrey: #8B939A;
$colorDarkGrey: #505356;
$colorBlue: #14276F;

$colorCyan: #179ED8;
$colorGreen: #28A255;
$colorOrange: #F09F44;
$colorPurpule: #773484; 
$colorRed: #CB2026;
/*End Colors ====================================================*/

/*Width ====================================================*/
$minWidth: 380;
$maxWidth: 1920;
$maxWidthContainer: 1630;
$maxWidthContainerFluid: 1860;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
$containerWidthFluid: $maxWidthContainerFluid + $containerPadding;


/*Break points*/
$bp1: 880;
$bp2: 700;
$bp3: 1440;
$bp4: 1200;
$bp5: 990;
/*End Width ====================================================*/