@import "function.scss";

/*Fonts ====================================================*/
$fontfamily: "Nunito Sans";
$defaultFontSize: rem(18);
/*End Fonts ====================================================*/

/*Colors ====================================================*/
$mainColor: #E5E5E5;
$colorHome: #faf7f5;
$colorBlack: #28282C;
$colorLightGrey: #E3E3E3;
$colorBlue: #14276F;
/*End Colors ====================================================*/

/*Width ====================================================*/
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1630;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

/*Break points*/
$bp1: 845;
/*End Width ====================================================*/